/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

html {
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  width: 325px;
  overflow: hidden;
  margin: 25% auto;
  background-color: #fff;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

img {
  width: 100%;
}

.article {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10% 0 5%;
}

.article-heading {
  margin: 5% auto 3%;
  font-size: 1.35rem;
  color: hsl(217, 19%, 35%);
  line-height: 2rem;
  font-weight: 700;
}

.article-post {
  width: 93%;
  align-self: flex-start;
  margin: 3% 0 5%;
}

.article__account {
  width: 100%;
  margin: 5% 0;
  display: flex;
  align-items: center;
}

.article__account-pic {
  border-radius: 50%;
  width: 15%;
}

.article__account-text {
  margin: 0 6%;
  display: flex;
  flex-direction: column;
}

.article__account-name {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin: 0 0 2%;
}

.article__account-date {
  margin: 2% 0 0;
}

.article__account-button {
  width: 35px;
  height: 35px;
  background-color: hsl(210, 46%, 95%);
  border: none;
  border-radius: 50%;
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .25s;
}

.article__account-button:hover {
  transform: scale(1.25);
}

.article__account-icon {
  width: 45%;
}
/*main heading color: hsl(217, 19%, 35%)
body text color: hsl(214, 17%, 51%)
date color: hsl(212, 23%, 69%)
page background: hsl(210, 46%, 95%)
*/